﻿@using System
@using WebApplication2.Models

@{
    ViewData["Title"] = "Cart";
}

@if (ViewBag.Cart == null || ViewBag.Cart.Count == 0)
{
    <h1>Cart</h1>
    <div class="contentText">The cart is empty</div>
}
else
{
    <h1>Cart</h1>
    <ul>
        @foreach (Product prod in ViewBag.Cart)
        {
            <li>
                <span>@prod.Name</span>
                <span>@(prod.NetPrice * 1.27) (@prod.NetPrice + 27% ÁFA) HUF</span>
                <span>
                    <a asp-controller="Home" asp-action="RemoveFromCart"
                       asp-route-prodId="@prod.Id">Remove from cart</a>
                </span>
            </li>
        }
    </ul>
    <p>Sum price: @(ViewBag.Total * 1.27) (@ViewBag.Total + 27% ÁFA) HUF</p>
    <div>
        <a asp-controller="Home" asp-action="RemoveAllProdFromCart">Delete order</a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="FormPage" asp-route-total="@ViewBag.Total">Confirm order</a>
    </div>
}
