﻿@using System.Collections.Generic
@using System.Linq
@using WebApplication2.Models

@{
    ViewData["Title"] = "Categories";
}

@if (ViewBag.Categories == null || ViewBag.Categories.Count == 0)
{
    <h1>Catogies</h1>
    <div class="contentText">There are no available products currently</div>
}
else
{
    <h1>Categories</h1>
    <table class="table">
        <tbody>
            @for (int i = 0; i < ViewBag.Categories.Count; i++)
            {
                <tr style="text-align:center">
                    <td>
                        <a asp-controller="Home" asp-action="Products"
                           asp-route-catId="@ViewBag.Categories[i].Id"
                           asp-route-sortOrder="@ViewData["NetPriceSortParm"]">@ViewBag.Categories[i].Name</a>
                    </td>
                    <td>
                        @if(ViewBag.Randoms[i] == null)
                        {
                            <div class="contentText">No product</div>
                        }
                        else
                        {
                            @ViewBag.Randoms[i].Name
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
