﻿@using WebApplication2.Models
@using System.Collections.Generic

@model List<Product>

@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Producer</th>
            <th>Model number</th>
            <th>Details</th>
            <th>Net price/List price</th>
            <th>Stock</th>
            <th>Available</th>
            <th>Add to cart</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ShowButton == true && ViewBag.Available == true)
        {
            <tr>
                <td>
                    @ViewBag.Product.Name
                </td>
                <td>
                    @ViewBag.Product.Producer
                </td>
                <td>
                    @ViewBag.Product.ModelNumber
                </td>
                <td>
                    @ViewBag.Product.Description
                </td>
                <td>
                    @ViewBag.Product.NetPrice (HUF)/
                    @(ViewBag.Product.NetPrice * 1.27) (HUF)
                </td>
                <td>
                    @(ViewBag.Product.StockNumber - ViewBag.CountInCart)
                </td>
                <td>
                    @if (ViewBag.ShowButton)
                    {
                        <p>Available</p>
                    }
                    else
                    {
                        <p>Not available</p>
                    }
                </td>
                <td>
                    @if (ViewBag.ShowButton)
                    {
                        <a asp-action="AddToCart" asp-controller="Home" asp-route-prodId="@ViewBag.Product.Id"
                           asp-route-catId="@ViewBag.Product.CategoryId" asp-route-cart="@ViewBag.Cart">Add to cart</a>
                    }
                    else
                    {
                        <p>Out of stock</p>
                    }
                </td>
            </tr>
        }
        else if(ViewBag.ShowButton == false)
        {
            <p>The product is currently out of stock</p>
        }
        else if(ViewBag.Available == false)
        {
            <p>The product is currently not available (inactive)</p>
        }
    </tbody>
</table>
