﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>Home</h1>

<div class="text-center">
    <h1 class="display-4">Welcome to my EWebShop!</h1>
    <p>Browse in <a asp-controller="Home" asp-action="Categories">categories</a></p>
</div>
